{% extends "base.html" %}
{% block title %}Buscador de juegos{% endblock %}
{% block content %}
    <div id="wrapper">

				<!-- Intro -->
			<section id="intro" class="wrapper style1 fullscreen fade-up">
				<div class="inner">
					<h1>Buscador de juegos</h1>
					<p>Introduce a continuación la cadena por la que buscaremos el juego</p>
					<section>
						<form action="/listajuegos" method="post">
							<div class="fields">
								<div class="field">
									<label for="message">Nombre de juego</label>
									<input type="text" name="juego" value="{{juego}}"/>
								</div>
							</div>
							<ul class="actions">
								<li><a href="/listajuegos" class="button submit">Buscar</a></li>
							</ul>
						</form>
					</section>
				</div>
			</section>			
	</div>
{% endblock %}