{% extends "base.html" %}
{% block title %}Buscador de juegos{% endblock %}
{% block content %}
    <div id="wrapper">

				<!-- Intro -->
			<section id="intro" class="wrapper style1 fullscreen fade-up">
				<div class="inner">
					<h1>Buscador de juegos</h1>
					<p>Introduce a continuación la cadena por la que buscaremos el juego</p>
					<section>
						<form method="post" action="#">
							<div class="fields">
								<div class="field half">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="5"></textarea>
								</div>
							</div>
							<ul class="actions">
								<li><a href="" class="button submit">Send Message</a></li>
							</ul>
						</form>
					</section>
				</div>
			</section>			
	</div>
{% endblock %}